node_modules
.vscode
db
dist
dist-ssr
*.local
app/node_modules
app/*.log
app/npm-debug.log*
app/pnpm-workspace.yaml
app/pnpm-lock.yaml
client/node_modules
client/*.log
client/npm-debug.log*
client/pnpm-workspace.yaml
client/pnpm-lock.yaml
client/.env
client/.env.local
client/.env.development.local
shop
anbesa_shop
*.zip
*.bat
.htaccess
i.py
s.py
