.ball {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);


}
.ball1 {
  width: 110px;
  height: 110px;
  margin: 30%;
  background: white;
  border-radius: 50%;
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  text-align: center;
  font-size: 60px;
}
.ball2 {

  display: inline-block;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 100px 100px, rgba(126,1,5,1), #000);
 box-shadow:0px 5px 6px rgb(50 50 50/55%);

}

.balle2 {
  margin: auto;
  display: inline-block;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
 box-shadow:0px 5px 6px rgb(50 50 50/55%);

}
.ball02 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
 box-shadow:0px 5px 6px rgb(50 50 50/55%);

}
  
@keyframes zoom-in-zoom-out {
   50% {
    transform: scale(1, 1);
  }
   25% {
    transform: scale(1.5, 1.5);
  }

  0% {
    transform: scale(1, 1);
  }

}
@keyframes mymove {
  50% {transform: rotate(10deg);}
}

.ball3 {
  position: absolute;
  width:94%;
  height:94%;
  
    margin: 1%;
  background: white;
  border-radius: 50%;
  

}
.balle3 {
  position: absolute;
  width:94%;
  height:94%;
  
    margin: 3%;
  background: white;
  border-radius: 50%;
  

}

 .ball4 {
  position: absolute;
  width:94%;
  height:94%;
  
    margin: 3%;
  border-radius: 50%;;
 background: radial-gradient(circle at 100px 100px, rgba(255,46,0,1), #000);

} 
 .ball5 {
  position: absolute;
  width:50%;
  height:50%;
    margin: 25%;
  background: white;
  border-radius: 50%;
 animation: zoom-in-zoom-out 3s ease infinite; 

}

 .balle4 {
  position: absolute;
  width:94%;
  height:94%;
  
    margin: 3%;
  border-radius: 50%;;
 background: radial-gradient(circle at 100px 100px, #5cabff, #000);

} 
 .balle5 {
  position: absolute;
  width:50%;
  height:50%;
    margin: 25%;
  background: white;
  border-radius: 50%;
 animation: zoom-in-zoom-out 3s ease infinite; 

}

 .ball05 {
  position: absolute;
  width:70%;
  height:70%;
    margin: 15%;
  background: white;
  border-radius: 50%;


}
.num{
  position: relative;
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  margin-top: 20px;
  color: rgba(126,1,5,1);

}
.numsmall{
  font-size: 32px;
font-weight: bold;
margin-top: 0 ;
margin-left: 4px;
}

.ball6 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
  position: relative;
background: radial-gradient(534px at 7.8% 17.6%, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111) 91.8%);
box-shadow:0px 5px 6px rgb(50 50 50/55%);
}

 .ball7 {
  position: absolute;
  width:94%;
  height:94%;
    margin: 3%;
  border-radius: 50%;;
background: radial-gradient(534px at 7.8% 17.6%, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111) 91.8%);
} 
.ball8 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
  position: relative;
background: radial-gradient(862px at 6% 18%, rgb(21, 219, 149) 9.4%, rgb(26, 35, 160) 83.6%);
box-shadow:0px 5px 6px rgb(50 50 50/55%);
}

 .ball9 {
  position: absolute;
  width:94%;
  height:94%;
    margin: 3%;
  border-radius: 50%;;
background: radial-gradient(862px at 6% 18%, rgb(21, 219, 149) 9.4%, rgb(26, 35, 160) 83.6%);
} 

.ball10 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
  position: relative;
background: radial-gradient(circle at 0.2% 1.8%, rgb(255, 90, 8) 0%, rgb(88, 0, 0) 100.2%);
box-shadow:0px 5px 6px rgb(50 50 50/55%);
}


 .ball11 {
  position: absolute;
  width:94%;
  height:94%;
    margin: 3%;
  border-radius: 50%;;
background: radial-gradient(circle at 0.2% 1.8%, rgb(255, 90, 8) 0%, rgb(88, 0, 0) 100.2%);
} 
.ball12 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
  position: relative;
background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
box-shadow:0px 5px 6px rgb(50 50 50/55%);
}


 .ball13 {
  position: absolute;
  width:94%;
  height:94%;
    margin: 3%;
  border-radius: 50%;;
background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
} 
.contains{

top: 2%;
margin-left: 0;
width:100%;
height:100%;
}
table{
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       width: 100%;
    }

         td,  th {
            border: 1px solid #ddd;
            padding: 8px;
               font-size: 48px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    
        }
        td{
          text-align: center;
        
        }
.boom{
animation: move 5s infinite;
}

@keyframes move{
50%{font-size: 72px;}
}
       
      tr:nth-child(even) {background-color: #f2f2f2;}
       th {
            padding-top: 12px;
            padding-bottom: 12px;
          font-size: 48px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
            background-color: #4CAF50;
            color: white;
            height: 30px;
             width: 100%;


        }
        .tablecontainer{
          display: flex;

        }
        #b{
          width: 20%;

        }
      #i{
            width: 20%;
        }
          #n{
            width: 20%;
        }  #g{
            width: 20%;
        }  #o{
            width: 20%;
        }
        .b{
          background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        }
        .i{
        background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,13,1) 100%, rgba(0,212,255,1) 100%);
        }
        .o{
         background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%); 
        }
        .g{
        background: rgb(36,26,0);
        background: linear-gradient(90deg, rgba(36,26,0,1) 0%, rgba(91,60,6,1) 1%, rgba(232,148,22,1) 100%, rgba(0,212,255,1) 100%);
        }
 .bingo{
          background: blue;
          color: white;
           
        }
    