.congura{
  
    width: 100%;
    text-align: center;
    font-size: 333%;
    font-family: sans-serif;
    color: grey;
    opacity: 0.5;
    z-index:100;
  }
  
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100; 
    pointer-events: none;
}
